body
{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', Arial, sans-serif;
    background-image: url("./blackjack.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: 35px;
    min-height: 100vh;
    overflow-y: hidden;
}

h1{
    color: goldenrod;
    font-size: 80px;
}


button
{
    color: white;
    width: 150px;    
    padding: 15px 0px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    font-size: 25px;
    margin-top: 20px;
    box-shadow: 5px 5px 6px rgba(0,0,0,0.4);
}

.btn1{
    background-color: #123f42;
    margin-right: 20px;
}

.btn2
{
    background-color: #EE112B;
    margin-right: 20px;
}

.btn3
{
    background-color: goldenrod;
    
}

.cards
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#message
{
    font-style: italic;
    color: goldenrod;
    font-size: 40px;
}


#dealer-cards img
{
    height: 175px;
    width: 125px;
    margin: 2px;
}

#your-cards img
{
    height: 175px;
    width: 125px;
    margin: 2px;
}


@media screen and (min-width:320px) and (max-width:425px){

.btn1{

    margin-right: 0px;
}

.btn2
{

    margin-right: 0px;
}




      }

      @media screen and (min-width:768px) and (max-width:1023px){

      }

      @media screen and (min-width:1024px) and (max-width:1439px){

      }

